:root {
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

body {
  background-color: var(--mantle);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: var(--base);
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-button {
  background-color: var(--crust);
  border: none;
  color: white;
  margin-top: 5%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
